<html>
<head>
	<title>Embarrassment</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		alert("Hi")

	})
	</script>
</head>
<body>
	<h1>Hi</h1>
</body>
</html>